/* font face for Sohne-Bold */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Martel+Sans:wght@300&display=swap');

:root {
    --color-white: rgba(255,255,255); 
    --color-white-200: rgba(251,255,254,0.15);

    --color-aqua-bg : rgb(44,162,163);
    --color-blue-bg: rgba(63,94,251);
    --color-dark-blue: #3d4c99;
    --color-dark-pink: #ff4d9a;
    
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-attachment: fixed; 
    color: var(--color-white);
    padding: 10px;
}

.mainContent {
    padding: 10px;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    text-decoration: underline;}

.tooltip {
    position: fixed;
    z-index: 999;
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.snackbar {
    position: fixed;
    bottom: 20px;
    z-index: 999;
    background-color: gray;
    color: white;
    padding: 16px;
    border-radius: 5px;
    min-width: 250px;
    display: none;
}

/* Styles for header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}

#header-logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
}

#icon {
    height: 50px; 
    margin-right: 5px;
}

nav button {
    padding: 10px 15px;
    background-color: var(--color-white-200);
    color: var(--color-white-100);
    border-style: none;
    border-radius: 7px;
    font-size: 16px;
}

nav button:hover {
    background-color: var(--color-dark-blue);
}

header h1:hover {
    color: var(--color-dark-blue);
}

/* Main content */
/* home page styles */
#homeView {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding: 10px;
    flex-wrap: wrap;
}

.homeContainer {
    text-align: center;
    background-color: var(--color-white-200);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    min-width: 300px;
}

.sectionHeader {
    display: flex;
    justify-content: center;
}

#homeView li {
    padding: 3px;
}

#searchView li:hover {
    background-color: var(--color-dark-pink);
}

#homeView li:hover {
    color: var(--color-dark-blue)
}

#searchResults, #chart {
    width: 70%;
    float: left;
}

#searchOptions, #songInformation {
    width: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filterContainer {
    display: flex;
    align-items: center;
}

.label {
    width: 80px;
}

.filterInput {
    flex: 0.9;
}

#searchButtonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.searchButtons {
    width: 30%;
}

.songs, .topItem {
    list-style-type: none;
    padding: 0;
}

.filterInput {
    width: calc(80% - 120px);
}

.songs .headerRow, .songs .songItem {
    display: grid;
    grid-template-columns: 5% 30% 20% repeat(3, 15%);
    gap: 5px;
}

.songs .headerRow span {
    padding: 5px;
    text-align: left;
    font-weight: bolder;
    font-size: larger;
}

.songs .songItem span {
    padding: 5px;
    text-align: left;
}

/* recheck this once we implement api */
#songList {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

li.headerRow > span.sortable > .sortIndicator {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

li.headerRow > span.sortable.down > .sortIndicator {
    border-bottom: 4px solid red;
}

li.headerRow > span.sortable.up > .sortIndicator {
    border-top: 4px solid green;
}

#songInformation {
    text-align: left;
    position: relative;
    left: 5%;
}

#songInformation h2 {
    margin: 0 0;
}

#songInformation h3 {
    margin: 0 0 -3%;
}

#songInformation p {
    margin: -1% 0;
}

#songInformation ul {
    padding-left: 1em;
}

.snackbar {
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.playlistItem {
    list-style-type: none;
}

/*  */
.left-div { width: 30%; }

.right-div { width: 70%; }

.left-div, .right-div {
    display:flex;
    background-color: var(--color-white-200);
    border-style: none;
    border-radius: 7px;
    padding: 15px;
    gap: 10px;
}

/* Single Song View Page Styles */

#singleSongView .right-div{
    padding: 5px;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    max-width: 900px;
}

#singleSongView .left-div, #singleSongView .right-div {
    margin: 20px;
}


footer {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-dark-pink);
    color: var(--color-white-100);
    margin-bottom: -5px;
}